/* CSS File for Adrian Arroyo Jekyll Blog */

@font-face{
	font-family: "SouciSansNF";
	font-style: normal;
	font-weight: 400;
	src: local("SouciSansNF"), url("/blog/fonts/SouciSansNF.ttf") format("truetype");
}

#bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	opacity: 0.2;
}
body{
	background-color: rgb(156,236,156);
}
div.related{
	border-color: green;
	border-style: groove;
	border-width: 7px;
}
article img{
	max-width: calc(100% - 14px);
	border-width: 7px;
	border-style: groove;
	border-color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.masthead{
	/*max-width: calc(100% - 14px);*/
	border-width: 7px;
	border-style: groove;
	border-color: grey;
}
.masthead a{
	color: green;
	background-color: white;
	border-style: solid;
	border-color: white;
	text-decoration: none;
	border-radius: 4px;
	
}

.post-title{
	font-family: "SouciSansNF";
}

@media(min-width: 800px){
	article{
		margin-left: 20%;
		margin-right: 20%;
	}
}

article{
	background-color: rgba(147, 229, 136,0.75);
	padding: 25px;
	border: ridge 10px rgb(176, 189, 125);
	font-family: sans-serif;
}

pre{
	overflow-x: scroll;
}
