/* CSS File for Adrian Arroyo Jekyll Blog */

#bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	opacity: 0.2;
}
body{
	background-color: rgb(156,236,156);
}
div.related{
	border-color: green;
	border-style: groove;
	border-width: 7px;
}
img{
	max-width: calc(100% - 14px);
	border-width: 7px;
	border-style: groove;
	border-color: black;
	
}
.masthead{
	/*max-width: calc(100% - 14px);*/
	border-width: 7px;
	border-style: groove;
	border-color: grey;
}
.masthead a{
	color: green;
	background-color: white;
	border-style: solid;
	border-color: white;
	text-decoration: none;
	border-radius: 4px;
	
}
