<div id="social-share" style="text-align: center;">
	<div class="g-plusone" data-size="medium"></div>
	<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	<div style="text-align: center;">
	<a style="display: inline;" href="https://twitter.com/share" class="twitter-share-button" data-via="aarroyoca">Tweet</a>
	</div>
	<a href="http://tuenti.com/share" id="tuenti_share" class="tuenti-share-button"></a>
	<div style="text-align: center;">
	<a href="http://bufferapp.com/add" class="buffer-add-button" data-count="none" data-via="aarroyoca" ></a>
	<!-- Buffer -->
	<script type="text/plain" class="cookie">
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://d389zggrogs7qo.cloudfront.net/js/button.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	</div>
	<br>
	<a href="bitcoin:1A2j8CwiFEhQ4Uycsjhr3gQPbJxFk1LRmM">1A2j8CwiFEhQ4Uycsjhr3gQPbJxFk1LRmM</a>
	<br>
	<a href="dogecoin:DSpZAHtYqMVce8ZLWb4jZHza1dY4P5bZFL">DSpZAHtYqMVce8ZLWb4jZHza1dY4P5bZFL</a>
	
	
	<script type="text/plain" class="cookie">
	window.___gcfg = {lang: "es"};
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://apis.google.com/js/platform.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	<script type="text/plain" class="cookie">
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://platform.twitter.com/widgets.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	<script type="text/plain" class="cookie">
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://widgets.tuenti.com/widgets.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	<div id="fb-root"></div>
	<script type="text/plain" class="cookie">(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- LinkedIn -->
	<script type="text/plain" class="cookie">
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://platform.linkedin.com/in.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	<script type="IN/Share" data-counter="right"></script>
	<!-- ChangeTip -->
	<div class="changetip_tipme_button" data-bid="233e807b-c212-40d0-b648-28e55fc1beee" data-uid="5f54ac51ee8447718dab52844de1f448"></div><script type="text/plain" class="cookie">(function(document,script,id){var js,r=document.getElementsByTagName(script)[0],protocol=/^http:/.test(document.location)?'http':'https';if(!document.getElementById(id)){js=document.createElement(script);js.id=id;js.src=protocol+'://widgets.changetip.com/public/js/widgets.js';r.parentNode.insertBefore(js,r)}}(document,'script','changetip_w_0'));</script>
	<!-- PayPal -->
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="MDXHN7PNTT4DU">
		<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
		<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
	</form>

</div>
