<div id="social-share">
	<div class="g-plusone" data-size="medium"></div>
	<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
	<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	<a href="http://tuenti.com/share" id="tuenti_share" class="tuenti-share-button"></a>
	
	
	<script type="text/plain" class="cookie">
	window.___gcfg = {lang: "es"};
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://apis.google.com/js/platform.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	<script>
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://platform.twitter.com/widgets.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	<script>
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://widgets.tuenti.com/widgets.js";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
	<script>
	(function(){
		var po=document.createElement("script");
		po.async=true;
		po.type="text/javascript";
		po.src="https://connect.facebook.com/es_ES/sdk.js#xfbml=1&version=v2.0";
		var s=document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(po,s);
	})();
	</script>
</div>
