<!DOCTYPE html>
<html lang="es" manifest="manifest.appcache">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Blog">
	<img id="bg" src="{{ site.baseurl }}images/city.svg" alt="Background image"/>
    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <small><a href="{{ site.baseurl }}{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. Todos los derechos reservados.
        </p>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
