<!DOCTYPE html>
<html lang="es" manifest="manifest.appcache">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/Blog">
	<img id="bg" src="{{ site.baseurl }}images/city.svg" alt="Background image"/>
    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <small><a href="{{ site.baseurl }}{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
<!-- Google Search Box -->
        <form action="http://www.google.es" id="cse-search-box" target="_blank">
  <div>
    <input type="hidden" name="cx" value="partner-pub-6944504853839360:3109646339" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Buscar" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.es/coop/cse/brand?form=cse-search-box&amp;lang=es"></script>
<!-- End Google Search Box -->
      </div>

      {{ content }}

      <div class="footer">
        <p>
          <a itemprop="license useRightsUrl" rel="license" href="http://creativecommons.org/licenses/by/4.0">&copy; {{ site.time | date: '%Y' }} - Creative Commons 4.0 Reconocimiento (CC-BY-4.0)</a>
        </p>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
