---
layout: default
---

<!-- Blog - Post Up -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6944504853839360"
     data-ad-slot="8642027932"
     data-ad-format="auto"></ins>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <div itemprop="text">
	{{ content }}
  </div>
</article>

{% include share.html %}

<div class="related">
  <h2>Entradas relacionadas</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include comments.html %}
